@page "/counter"
@inject HttpClient Http
@using Microsoft.Azure.CognitiveServices.Language.TextAnalytics.Models
@using CognitivePlayground.Shared

<h1>Enter your not intelligent text to extract all the info</h1>

@*<p>Current count: @currentCount</p>*@

<div class="form-group">
    <h6>Text language</h6>
    <select class="form-control" bind="@_language">
        @foreach (var language in _languages)
        {
            <option value=@language>@language</option>
        }
    </select>
    <textarea bind="@_text" class="form-control" rows="5" id="comment"></textarea>
    <button class="btn btn-primary" onclick="@GetEntityLinkingResult">Get text analytics results</button>

    @foreach (var result in _resultEntities)
    {
        <h6>@result.Name @result.Type @result.SubType</h6>
    }
</div>

@functions {
    public string _language { get; set; } = "en";
    public string _text { get; set; } = "";

    public EntityRecordV2dot1[] _resultEntities { get; set; } = new EntityRecordV2dot1[0];

    public List<string> _languages { get; set; } = new List<string>
{
"en",
"es",
"it"
};

    async void GetEntityLinkingResult()
    {
        _resultEntities = await Http.PostJsonAsync<EntityRecordV2dot1[]>("api/SampleData/GetEntityLinkTextAnalytics", new EntityLinkingRequest() { Language = _language, Text = _text });
        this.StateHasChanged();
    }
}
