@page "/textanalytics"
@inherits TextAnalyticsModel

<h1>Enter your not intelligent text to extract all the info</h1>

@*<p>Current count: @currentCount</p>*@

<div class="form-group">
    <h6>Text language</h6>
    <select class="form-control" bind="@_language">
        @foreach (var language in _languages)
        {
            <option value=@language>@language</option>
        }
    </select>
    <textarea bind="@_text" class="form-control" rows="5" id="comment"></textarea>
    <button class="btn btn-primary" onclick="@GetEntityLinkingResult">Get text analytics results</button>

    @foreach (var result in _resultEntities)
    {
        <h6>@result.Name @result.Type @result.SubType</h6>
    }
</div>

